.tp-calendar {
    position: relative;
    text-align: justify;
}
.tp-calendar table {
    border: none;
    width: 100%;
}
.tp-calendar thead {
    background-color: #fff;
}
.tp-calendar tbody {
    background: #d5d5d5;
}
.tp-calendar td,
.tp-calendar th {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left-color: #fff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    width: 14.2857%;
}
.tp-calendar td,
.tp-calendar th {
    padding: 1px 5px;
}
.tp-calendar th {
    color: #000;
    text-align: center;
}
.tp-calendar + .tp-calendar {
    margin-top: 15px;
}

.tp-calendar > div {
    display: inline-block;
    text-align: left;
    margin: 0;
}
.tp-calendar > div:not(.tp-calendar-legend) {
    height: 200px;
    width: 270px;
}
.tp-calendar > div.tp-calendar-legend {
    white-space: nowrap;
}
.tp-calendar td,
.tp-calendar th {
    font-size: 12pt;
}
.tp-calendar tbody td,
.tp-calendar tbody th {
    font-weight: normal;
}

.tp-calendar .tp-calendar-legend .tp-calendar-free:before,
.tp-calendar .tp-calendar-free {
    background: #95c966;
}
.tp-calendar .tp-calendar-freego {
    background: #288c1d;
}
.tp-calendar .tp-calendar-legend .tp-calendar-busy:before,
.tp-calendar .tp-calendar-busy {
    background: #d5d5d5;
}
.tp-calendar .tp-calendar-onDemand {
    background: #95c966;
}
.tp-calendar .tp-calendar-onDemandGo {
    background: #288c1d;
}
.tp-calendar .tp-calendar-free-busy {
    background: #95c966;
    background: linear-gradient(135deg, #95c966 50%, #d5d5d5 50%);
}
.tp-calendar .tp-calendar-free-busy-arrival {
    background: #288c1d;
    background: linear-gradient(135deg, #288c1d 50%, #d5d5d5 50%);
}
.tp-calendar .tp-calendar-busy-free {
    background: #95c966;
    background: linear-gradient(135deg, #d5d5d5 50%, #95c966 50%);
}
.tp-calendar .tp-calendar-busy-free-arrival {
    background: #d5d5d5;
    background: linear-gradient(135deg, #d5d5d5 50%, #288c1d 50%);
}
.tp-calendar .tp-calendar-legend .tp-calendar-free-arrival:before,
.tp-calendar .tp-calendar-free-arrival {
    background: #288c1d;
}

.tp-calendar-legend {
    margin-top: 5px;
    display: block;
}
.tp-calendar-legend > div:before {
    display: inline-block;
    content: '';
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 4px;
    width: 40px;
}
.tp-calendar-legend .tp-calendar-free,
.tp-calendar-legend .tp-calendar-busy,
.tp-calendar-legend .tp-calendar-free-arrival {
    background-color: transparent;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}
