/* primary variables
 */
/*
@primary: #ffffff;
@page-shadow: #000000;
@page-shadow-shape: 0 0;
 */
@primary: #daa520; // hsva(43.08000183105469, 100%, 42%, 1);
@page-shadow: fade(black, 12%);
@page-shadow-shape: 0 8px 44px 4px;
/*
 * end primary variables */

/* derived variables
 */
@complement: difference(@primary, white);

@background: @primary;

@link-text: darken(@complement, 10%, relative);

@menu: @primary;
@menu-text: darken(@complement, 10%, relative);
@menu-focus: lighten(@primary, 10%, relative);
@menu-target: lighten(@primary, 20%, relative);
@menu-target-text: white;

@header-text: #ce9e24;

@footer: @primary;
@footer-text: darken(@complement, 10%, relative);

@light: lighten(@complement, 50%, relative);
/*
 * end derived variables */

body {
  background: @background;
}

a {
  color: @link-text;
}

#center {
  -webkit-box-shadow: @page-shadow-shape @page-shadow;
  -moz-box-shadow: @page-shadow-shape @page-shadow;
  box-shadow: @page-shadow-shape @page-shadow;
}

header h1 {
  color: @header-text;
}
header span:not(:first-child) {
  border-left: 1px solid @header-text;
}
header span:not(:last-child) {
  border-right: 1px solid @header-text;
}

header.header-1-3 h1 {
  color: #ffffff;
}
header.header-1-3 span:not(:first-child) {
  border-left: 1px solid #ffffff;
}
header.header-1-3 span:not(:last-child) {
  border-right: 1px solid #ffffff;
}

nav {
  background-color: @menu;
}

nav .pure-menu-item:hover,
nav .pure-menu-item:focus {
  background-color: @menu-focus;
}

nav .pure-menu-item.target {
  background-color: @menu-target;
}

nav .pure-menu-item a {
  color: @menu-text;
}

nav .pure-menu-item.target a {
  color: @menu-target-text;
}

footer div span:not(:last-child) {
  border-right: 1px solid @footer-text;
}

footer {
  color: @footer-text;
  background: @footer;
}
