/* based on http://purecss.io/layouts/tucked-menu-vertical/ */

.pure-menu .pure-menu-list,
.pure-menu .pure-menu-item {
    display: inline-block;
}

.pure-menu .pure-menu-item a {
    display: block;
    padding: 19px;
    transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
}

@media (max-width: 720px) {

    .pure-menu .pure-menu-list,
    .pure-menu .pure-menu-item {
        display: block;
    }

    .pure-menu .pure-menu-item a {
        padding: 9px 19px;
    }
}
