.price-value {
    margin-left: 3rem;
}

#preise td {
    padding: 0.5em;
    vertical-align: top;
}

#preise table {
    border-collapse: collapse;
}

#preise table, #preise th, #preise td {
    border: 1px solid black;
}
