@font-face {
    font-family: 'Abel';
    font-weight: normal;
    font-style: normal;
    src: url('abel.eot');
    src: url('abel.eot?#iefix') format('embedded-opentype'),
    url('abel.woff2') format('woff2'),
    url('abel.woff') format('woff'),
    url('abel.ttf') format('truetype'),
    url('abel.svg#wf') format('svg');
}

@font-face {
    font-family: 'Abel';
    font-weight: bold;
    font-style: normal;
    src: url('abel-bold.eot');
    src: url('abel-bold.eot?#iefix') format('embedded-opentype'),
    url('abel-bold.woff2') format('woff2'),
    url('abel-bold.woff') format('woff'),
    url('abel-bold.ttf') format('truetype'),
    url('abel-bold.svg#wf') format('svg');
}

/* droid-sans-regular - latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url('droid-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Droid Sans'), local('DroidSans'),
       url('droid-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('droid-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('droid-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('droid-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('droid-sans-v6-latin-regular.svg#DroidSans') format('svg'); /* Legacy iOS */
}

/* droid-sans-700 - latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: url('droid-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Droid Sans Bold'), local('DroidSans-Bold'),
       url('droid-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('droid-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('droid-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('droid-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('droid-sans-v6-latin-700.svg#DroidSans') format('svg'); /* Legacy iOS */
}

/* dosis-regular - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url('dosis-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Dosis Regular'), local('Dosis-Regular'),
    url('dosis-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('dosis-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('dosis-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('dosis-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('dosis-v6-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}

/* dosis-700 - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url('dosis-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Dosis Bold'), local('Dosis-Bold'),
    url('dosis-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('dosis-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('dosis-v6-latin-700.woff') format('woff'), /* Modern Browsers */
    url('dosis-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('dosis-v6-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}
