@font-face {
    font-family: 'Abel';
    font-weight: normal;
    font-style: normal;
    src: url('abel.eot');
    src: url('abel.eot?#iefix') format('embedded-opentype'),
    url('abel.woff2') format('woff2'),
    url('abel.woff') format('woff'),
    url('abel.ttf') format('truetype'),
    url('abel.svg#wf') format('svg');
}

@font-face {
    font-family: 'Abel';
    font-weight: bold;
    font-style: normal;
    src: url('abel-bold.eot');
    src: url('abel-bold.eot?#iefix') format('embedded-opentype'),
    url('abel-bold.woff2') format('woff2'),
    url('abel-bold.woff') format('woff'),
    url('abel-bold.ttf') format('truetype'),
    url('abel-bold.svg#wf') format('svg');
}
